header{
    background: #234562;
    text-align: center;
    padding-top: 20px;
    border-bottom: orangered 3px solid;
}
body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: url("dunes.jpg");
    background-size: cover;
    font: 15px/1.5, Arial, Helvetica, Sans-serif;
    color: white;
}
h3{
    margin-top: 50px;
}
form{
    margin-top: 40px;
    transition: all 4s ease-in-out; 
}
.control{
    width: 600px;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: gray 1px solid;
    background: transparent;
    color: white;
    margin-bottom: 15px;
    margin-left: 5px;
    font: 1em sans-serif;
}
.control-submit:hover{
    background-color: green;
    cursor: pointer;
}